* {
	font-family: sans-serif;
}

body {
	background-color: #286090;
}

.TaskList {
	overflow: hidden; /*Compensate for floating childs*/
	width: 90%;
	max-height: 100%;
	margin: auto;
}

.TaskList .panel {
	background-color: #9ACFEA;
}

.TaskColumn {
	float: left;
	height: auto;
	width: 30%;
	margin: 1%;
}

.TaskColumn .panel-heading {
	background-color: #337AB7;
	color: white;
}

.TaskColumn .panel-body {
	margin: 5%;
	padding: 2%;
	background-color: #C4E3F3;
	border-radius: 0.5em;
}

/*	TASK DELETE ANIMATION	*/
.Task.ng-enter,
.Task.ng-leave {
  transition:0.3s linear all;
}

.Task.ng-enter,
.Task.ng-leave.ng-leave-active {
  opacity:0;
}

/*	TASK FIELD	*/
.Task {
	width: 90%;
	padding: 5%;
	margin-bottom: 2em;
}

/*	DELETE/STATUS BUTTONS*/
.Buttons {
	margin: auto;
	width: 50%;
}

.Button {
	margin: 3em;
}

