* {
	font-family: sans-serif;
}

body {
	background-color: #286090;
}

.TaskList {
	width: 90%;
	margin: auto;
}

.TaskList .panel {
	background-color: #9ACFEA;
}

.TaskColumn {
	float: left;
	height: auto;
	width: 30%;
	margin: 1%;
}

.TaskColumn .panel-heading {
	background-color: #337AB7;
	color: white;
}

.TaskColumn .panel-body {
	margin: 5%;
	padding: 2%;
	background-color: #C4E3F3;
	border-radius: 0.5em;
}

/*	TASK DELETE ANIMATION	*/
.Task.ng-enter,
.Task.ng-leave {
  transition:0.3s linear all;
}

.Task.ng-enter,
.Task.ng-leave.ng-leave-active {
  opacity:0;
}

/*	TASK FIELD	*/
.Task {
	width: 90%;
	padding: 5%;
	margin-bottom: 2em;
}

/*	DELETE/STATUS BUTTONS*/
.Buttons {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;   
}

.Button {
	background-color: #337AB7;
	border: none;
	color: white;
}

.addTaskButton {
	float: both;
	width: 100%;
	margin: auto;
	height: 2em;
	background-color: #C4E3F3;
	border: none;
	font-size: 2em;
}

/*ADD TASK STYLES*/
.AddTask {
	padding: 2em;
	position: fixed;
	top: 0; left: 0; bottom: 0; right:0;
	margin: auto;
	height: 15em;
	width: 20em;
	overflow: auto;
	background-color: #9ACFEA;
}

.TaskInput {

}

.CategoryFilter {
	clear: both;
	margin: 1em;
}
