<!DOCTYPE html>
<html ng-app="TaskList">
  <head>
  	<title> GWT RPC - ANGULAR JS </title>
  	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/TaskList.css" />
    <script type="text/javascript" src="js/Task.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="TaskController as tasks">
  	<div class = "TaskList">
	  	<div class="panel panel-default TaskColumn">
	  		<div class="panel-heading"> Planned </div>
		  	<div ng-repeat="task in tasks.tasks" ng-if="task.Status == 'Planned'" class = "panel-body Task">
				<task></task>
			</div>
		</div>
		
	  	<div class="panel panel-default TaskColumn">
	  		<div class="panel-heading"> In progress </div>
		  	<div ng-repeat="task in tasks.tasks" ng-if="task.Status == 'In progress'" class = "panel-body Task">
				<task></task>
			</div>
		</div>
		
	  	<div class = "panel panel-default TaskColumn">
	  		<div class="panel-heading"> Done </div>
		  	<div ng-repeat="task in tasks.tasks" ng-if="task.Status == 'Done'" class = "panel-body Task">
				<task></task>
			</div>
		</div>
	</div>
  </body>
</html>